{% extends 'employees/base.html' %}

{% block title %}Home - Company Portal{% endblock %}

{% block subheader %}
<p>Welcome to the Company Employee Portal</p>
{% endblock %}

{% block content %}
<p>Use the navigation to manage departments and employees.</p>
<ul>
    <li><a href="{% url 'departments:department_list' %}">Department Management</a></li>
    <li><a href="{% url 'employees:employee_list' %}">Employee Management</a></li>
    <li><a href="/admin/">Django Admin Panel</a></li>
</ul>
{% endblock %}
